<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nataly's Personal Site</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="../static/photo.png" alt="Nataly profile picture"></td>
        <td><h1>Nataly</h1>
        <p><em>Junior Python Developer</p>
        <p>I started the challenge 100 Days of code on 16 august 2022 year.</p></td>
      </tr>
    </table>
    <hr>
    <h3>Resources where I learn programming</h3>
    <ul>
      <li>Udemy</li>
      <li>W3schools</li>
      <li>Replit</li>
      <li>Stepik</li>
    </ul>
    <hr>
    <h3>Topics covered</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Date</th>
          <th>Theme</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>16 august 2022</td>
          <td>Python Data Types</td>
        </tr>
        <tr>
          <td>18 august 2022</td>
          <td>Python Lists, Loops</td>
        </tr>
        <tr>
          <td>20 august 2022</td>
          <td>Python Functions</td>
        </tr>
        <tr>
          <td>23 august 2022</td>
          <td>Python Object-Oriented Programming</td>
        </tr>
        <tr>
          <td>25 august 2022</td>
          <td>Python Turtle, GUI</td>
        </tr>
        <tr>
          <td>29 august 2022</td>
          <td>Python Files, open, read, write</td>
        </tr>
        <tr>
          <td>3 september 2022</td>
          <td>Python NumPy and Pandas</td>
        </tr>
        <tr>
          <td>4 september 2022</td>
          <td>Python CSV, JSON</td>
        </tr>
         <tr>
          <td>6 september 2022</td>
          <td>Python *args, **kwargs</td>
        </tr>
        <tr>
          <td>8 september 2022</td>
          <td>Python List Comprehension</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tr>
        <td>HTML</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>JavaScript</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Python</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
